    <div class="chat-item flex w-full mb-2">
      <div class=" inline-flex flex-col max-w-[75%] px-3 py-2 rounded-lg shadow <%= m.isYourself ? 'ml-auto' : '' %>   <%= m.effects.bubbleClass || (m.isYourself ? 'bg-[#d9fdd3]' : 'bg-white') %> ">

        <% if (m.effects.badge) { %>
        <div class="text-[10px] mb-1 inline-block px-2 py-[1px] rounded <%= m.effects.badge.class %>">
          <%= m.effects.badge.label %>
        </div>
        <% } %>

        <!-- username (only other users) -->

        <div class="text-xs font-semibold  <%= m.isYourself ? 'text-green-700' : 'text-blue-700' %> mb-1">
          <%= m.user %>
        </div>

        <!-- message text -->
        <% if (m.isViewOnce) { %>
        <div class="text-sm italic text-gray-500">
          📷 Foto sekali lihat
        </div>
        <% } else if (m.text) { %>
        <pre class=" font-sans text-sm whitespace-pre-wrap break-words text-left m-0 "><%= m.text %></pre>
        <% } %>

        <!-- media -->
        <% if (m.media) { %>
        <img src="<%= mediaBase %>/<%= m.media.name %>" class="mt-2 rounded max-w-full">
        <% } %>

        <!-- time -->
        <div class="self-end text-[11px] opacity-60 mt-1">
          <%= m.time %>
        </div>

      </div>
    </div>